swagger: '2.0'
info:
  title: Ultra Superb API
  description: An ultra superb api... not.
  version: "1.0"
host: docker.master.rpayne1ultraapi.security.syd.non.c1.macquarie.com
schemes:
  - http
#The Base Path for the Admin API
basePath: /admin/v1
#Everything should return JSON.
produces:
  - application/json
#App Paths.
paths:
  /logs:
    post:
      summary: Show last 20 logs from server.
      consumes:
        - application/json
      parameters:
        - name: logfile
          in: body
          required: true
          schema:
            required:
              - logfile
            properties:
              logfile:
                type: string
                enum:
                  - api
                  - log
      tags:
        - logs
      responses:
        "200":
          description: OK
          schema:
            required:
              - logs
            properties:
              logs:
                type: array
                items:
                  type: string
          examples:
            application/json: 
              {
                "logs": [
                  {
                    "log": "2017-03-02 04:20:29,817 - ultraSuperbAPI.loggy - INFO - User authenticating with client_id: myclient"
                  },
                  {
                    "log": "2017-03-02 04:20:29,820 - ultraSuperbAPI.loggy - INFO - Attempting to validate password for user test1 with password test1"
                  },
                  {
                    "log": "2017-03-02 04:20:29,956 - ultraSuperbAPI.loggy - INFO - logged in user: 1"
                  },
                  {
                    "log": "2017-03-02 04:20:29,956 - ultraSuperbAPI.loggy - INFO - Generated token: @#E2)Gutf~!kwkM7qf9Nf&~pwNkUQrRy"
                  },
                  {
                    "log": "2017-03-02 04:20:29,957 - ultraSuperbAPI.loggy - INFO - Generated token: aXvtu9o!b~oMGKU)rUQDWcr33!$qFrKdCE1PyG2+uw(-&Xp46*TVqFY$fi6r~yGf"
                  }
                ]
              }
      
      
